<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>pizzazer</display-name>
	<welcome-file-list>
		<welcome-file>homePage.html</welcome-file>
	</welcome-file-list>

	<!-- pizz Servlet -->
	<servlet>
		<servlet-name>myPizzaServlet</servlet-name>
		<servlet-class>com.pizzazer.controller.PizzaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>myPizzaServlet</servlet-name>
		<url-pattern>/pizza</url-pattern>
	</servlet-mapping>
	
	<!-- pizz Servlet -->
	<servlet>
		<servlet-name>myOrderServlet</servlet-name>
		<servlet-class>com.pizzazer.controller.OrdersServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>myOrderServlet</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>myOrderDetailServlet</servlet-name>
		<servlet-class>com.pizzazer.controller.OrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myOrderDetailServlet</servlet-name>
		<url-pattern>/order/*</url-pattern>
	</servlet-mapping>
	

</web-app>